:root {
  background-color: #111;
  color: #F5E;
}

:any-link {
  color: inherit;
  background: transparent;
}

:hover {
  text-decoration-style: wavy;
}

:focus {
  outline: thick double;
  background: #F5E;
  color: #111;
}

::selection {
  background: #F5E;
  color: #111;
}
